.App {
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  justify-content: end;

}

.form {
  background-color: #bcbcbc;
  color: rgb(26, 26, 26);
  margin-top: 100px;
}

select {
  padding: 10px;
  font-size: 15px;
}

input {
  border-radius: 4px;
  padding: 10px;
}
